amanobot
bs4
colorama
requests
aioify
instantmusic
youtube-dl
pexpect
wget
speedtest-cli>=2.0.2
logger
telegraph
py-translate
duckpy
python-dotenv
Pillow
gsearch
regex
urbandict
hachoir
wikipedia
gtts
googletrans
zalgo_text
hastebin-client
pyfiglet
pybase64
google_images_download
rivescript
iso-639>=0.4.5
ffmpeg
progressbar2
tqdm
logger
tldextract
virustotal-api
pyaxmlparser
python-telegram-bot
hurry.filesize 
pget 
telethon
click>=6.0
cryptg
aiohttp
python-magic
